<div style="text-align:center" >
    <h2>Aula de {{ title }}!</h2>
    <form [formGroup]="pessoaForm" (ngSubmit)="enviarValores()">
      <label>
        Primeiro Nome: <input type="text" formControlName="primeiroNome">
      </label><br>
      <label>
          Ultimo Nome: <input type="text" formControlName="ultimoNome">
      </label><br>
    <button type="submit"[disabled]="!pessoaForm.valid">Enviar Valores</button>
    </form><br><br>