<div style="text-align:center">
  <h2>Aula de {{ title }}!</h2>
  <h3>Lista de Ferramentas</h3>
  <ul>
    <li *ngFor="let ferramenta of ferramentas;let i = index">
      {{ i }} - {{ ferramenta }}
    </li>
  </ul>
<br><br>
</div>
