<div style="text-align:center">
    <h2>Aula de {{ title }}!</h2>
  <div [class.minhaClasse]="aplicarClasse">
    Aplicando Classe
  </div>
  <br>
  <div [style.color]="aplicarStyle ? 'blue' : 'orange'">
    Aplicando Style
  </div>
  <br>
  <p [ngStyle]="setarStyle()">Aplicar metodo de styles</p>
  <br><br>
</div>
