<div style="text-align:center">
  <h2>Aula de {{ title }}!</h2>
  <div *ngIf="mostrarVersaoAtual">
    <h4>Angular 7</h4>
  </div>
  <div *ngIf="!mostrarVersaoAtual">
    <h4>Angular 6</h4>
  </div>
  <button (click)="mudarVersao()">Mudar Versão</button>
<br><br><br>
</div>
