<div style="text-align:center">
  <h2>Aula de {{ title }}!</h2>
  <label>Nome do Curso </label>
  <input type="text" [value]="nomeCurso" (input)="nomeCurso = $event.target.value">
  <p>O nome do curso digitado foi {{ nomeCurso }}</p>
  <h3>ngModel</h3>
  <label>Nome do curso </label>
  <input type="text" [(ngModel)]="nomeCurso">
  <p>O nome do curso digitado foi {{ nomeCurso }}</p>
  <br><br>
</div>
