<app-interpolacao></app-interpolacao>

<app-propertybinding></app-propertybinding>

<app-eventbinding></app-eventbinding>

<app-two-way-databinding></app-two-way-databinding>

<app-class-binding></app-class-binding>

<app-input [principal]="principal"></app-input>

<div style="text-align:center">
    <h2>Aula de {{ output }}!</h2>
  <h3>Angular é o melhor framework de JavaScript?</h3>
  <h4>Quantidade que concordam: {{ concordou }}</h4>
  <h4>Quantidade que não concordam: {{ naoConcordou }}</h4>
</div>

<app-output *ngFor="let votantes of votantes" (enviarVoto)="foiVotado($event)"></app-output>
<br><br>

<app-ng-if></app-ng-if>

<app-ng-for></app-ng-for>

<app-ng-switch></app-ng-switch>

<app-life-cycle [life]="life"></app-life-cycle>

<app-formulario></app-formulario>

<app-formulario-reativo></app-formulario-reativo>

<app-formulario-reativo-grupo></app-formulario-reativo-grupo>

<app-formulario-reativo-grupo-aninhado></app-formulario-reativo-grupo-aninhado>

<app-formulario-modelo></app-formulario-modelo>

<br><br>