<div style="text-align:center">
  <h2>Aula de {{ title }}!</h2>
  <label> 
    Nome: <input type="text" [formControl]="nome">
  </label>
  <p>
    <button (click)="atualizarNome()">Atualizar Nome</button>
  </p>
  <p>
    Valor: {{ nome.value }}
  </p>
  </div>
  <br><br>