<div class="container">
  <h1>Formulario Pessoa</h1>
  <form (ngSubmit)="enviar()" #pessoaForm="ngForm">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" id="nome" required [(ngModel)]="pessoa.nome" name="nome" #nome="ngModel">
      <div [hidden]="nome.valid || nome.pristine" class="alert alert-danger">
        Nome é obrigatorio.
      </div>
    </div>
    <div class="form-group">
      <label for="idade">Idade</label>
      <input type="text" class="form-control" id="idade" required [(ngModel)]="pessoa.idade" name="idade"
        #idade="ngModel">
      <div [hidden]="idade.valid || idade.pristine" class="alert alert-danger">
        Idade é obrigatorio.
      </div>
    </div>
    <div class="form-group">
      <label for="sexo">Sexo</label>
      <input type="text" class="form-control" id="sexo" required [(ngModel)]="pessoa.sexo" name="sexo" #sexo="ngModel">
      <div [hidden]="sexo.valid || sexo.pristine" class="alert alert-danger">
        Sexo é obrigatorio.
      </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!pessoaForm.form.valid">Enviar Formulario</button>
    <button type="button" (click)="novaPessoa()" class="btn btn-danger">Adicionar Pessoa</button>
  </form>
  <!-- {{ diagnostico }} -->
  {{ nome.className }}

  <div [hidden]="!enviado">
      <div class="row">
        <div class="col">Nome: {{ pessoa.nome }}</div>
      </div>
      <div class="row">
          <div class="col">Idade: {{ pessoa.idade }}</div>
      </div>
      <div class="row">
          <div class="col">Sexo: {{ pessoa.sexo }}</div>
      </div>
      <button class="btn btn-primary" (click)="enviado=false">Editar Pessoa</button>
    </div>
    
</div>
