<div style="text-align:center" >
  <h2>Aula de {{ title }}!</h2>
  <form [formGroup]="dadosPessoais" (ngSubmit)="enviarValores()">
    <label>
      Nome: <input type="text" formControlName="nome">
    </label><br>
    <label>
        Sobrenome: <input type="text" formControlName="sobrenome">
    </label><br>
  <form formGroupName="endereco">
    <label>
      Rua: <input type="text" formControlName="rua">
    </label><br>
    <label>
        Cidade: <input type="text" formControlName="cidade">
    </label><br>
    <label>
      Estado: <input type="text" formControlName="estado">
    </label><br>
    <label>
        Cep: <input type="text" formControlName="cep">
    </label><br>
  </form>
  <button type="submit" >Enviar Valores</button>
  </form>
  <p>
    Formulario: {{ dadosPessoais.status }}
  </p>
  <br><br>