<div style="text-align:center">
  <h2>Aula de {{ title }}!</h2>
  <h3>Seleção de Cursos</h3>
  <select [(ngModel)]="selection">
    <option *ngFor="let option of options">{{ option }}</option>
  </select><br>
  <div [ngSwitch]="selection">
    <div *ngSwitchCase="options[0]">Angular</div>
    <div *ngSwitchCase="options[1]">React</div>
    <div *ngSwitchCase="options[2]">Vue</div>
    <div *ngSwitchDefault>Default</div>
  </div>
</div>
<br><br>