<div style="text-align:center">
  <h2>Aula de {{ title }}!</h2>
  Cor Favorita: <input type="text" [formControl]="corFavoritaControl">
  Cor Favorita: <input type="text" [(ngModel)]="corFavorita">
</div>
<br><br>